<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Info windows</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

    <style>
   #map {
     height: 400px;

    width: 100%;
   }
   </style>
  </head>
  <body>


<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table">
    <h1>Hello <%= current_user.first_name %>, here is your ticket!</h1>
      <tr>
        <th>Ticket Number</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Price</th>
        <th>Departure Time</th>   
      </tr>
      <tr>
        <td><%= @booking.id + 5000 %></td>
        <td><%= @booking.trip.origin.name %></td>
        <td><%= @booking.trip.destination.name %></td>
        <td><%= @booking.trip.price %></td>
        <td><%= @booking.trip.departure.time %></td>
        
      </tr>
    </table>


    <div id="map"></div>
    <script>
      function initMap() {
        var butare = {lat: -2.581, lng: 29.712};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 9,
          center: butare
        });

        var marker = new google.maps.Marker({
          position: butare,
          map: map,
          title: 'Hello World!'
        });

        var rwamagana = {lat: -1.9487, lng: 30.4347};
        var map1 = new google.maps.Map(document.getElementById('map'), {
          zoom: 9,
          center: rwamagana
        });

        var marker1 = new google.maps.Marker({
          position: rwamagana,
          map1: map1,
          title: 'Hello World!'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-l3U857bvcHvdSwlvjT6GTiYtlAiiOdQ&callback=initMap">
    </script>
  
  </div>  
</div>
  </body>
</html>