<h1> Edit The Company List </h1>

<%= form_tag "/companies/#{@company.id}", method: :patch do %>
  <div>
    <input type="text" class="form-control" name="name" value="<%= @company.name %>" required="" autofocus="">
  </div>
  <br>
  <div>
    <input type="text" class="form-control" name="description" value="<%= @company.description %>" required="" autofocus="">
  </div>
  <br>
  <div>
    <input type="text" class="form-control" name="email" value="<%= @company.email %>" required="" autofocus="">
  </div>
  <br>
  <div>
    <input type="text" class="form-control" name="phone_number" value="<%= @company.phone_number %>" required="" autofocus="">
  </div>
  <br>
  <div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
          Update Company List
    </button>
  </div>

<% end %>

