<h1>Welcome to Rwanda Transportation Platform </h1>
  <div class="row">
    <% @companies.each_slice(2) do |two_companies| %>
      <div class="row">
        <% two_companies.each do |company| %>
          <div class="col-md-4">
          
            <h2><%= link_to company.name, "/companies/#{company.id}" %></h2>
            <h2><%= company.description %></h2>
            <h2><%= company.email %></h2>
            <h2><%= company.phone_number %></h2>
            <img class="image" src="<%= company.images.first.url %>">    
          </div>
            
            
          </div>
        <% end %>
      </div> 
    <% end %>
  </div>









