<h1>Welcome to Rwanda Transportation Platform </h1>
<div>
  <% if current_user && current_user.admin %>
    <%= link_to "Add Company", "/companies/new" %>
  <% end %>
  <% @companies.each_slice(2) do |two_companies| %>
    <div>
      <% two_companies.each do |company| %>
        <div>
          <h2><%= link_to company.name, "/companies/#{company.id}" %></h2>
          <h3><%= company.description %></h3>
          <h3><%= company.email %></h3>
          <h3><%= company.phone_number %></h3>
          <h2><img class="image" src="<%= company.images.first.url %>"></h2>
        </div>
      <% end %>
    </div> 
  <% end %>
</div>









