<h1>Your Company of Preference</h1>

<h2>Name:<%= @company.name %></h2>
<h2>Description:<%= @company.description %></h2>
<h2>Email:<%= @company.email %></h2>
<h2>Phone Number:<%= @company.phone_number %></h2>
<h2>Image:<img src="<%= @company.image %>"></h2>