<h1>Your Company of Preference</h1>

<h2>Name:<%= @company.name %></h2>
<h2>Description:<%= @company.description %></h2>
<h2>Email: <%= @company.email %></h2>
<h2>Phone Number:<%= @company.phone_number %></h2>
<h2>Image <img src="<%= @company.images.first.url%>"</h2>

<h2>List of Trips</h2>

<div class="row">
  <div class="col-md-0"></div>
  <div class="col-md-8">
    <table class="table">
      <tr>
        <th>Origin</th>
        <th>Destination</th>
        <th>Price</th>
        <th>Number of Places</th>
        <th>Duration</th>
        <th>Departure Time</th>
      </tr>
        <% @company.trips.each do |trip| %>
          <tr>
            <td><%= trip.origin.name %></td>
            <td><%= trip.destination.name %></td>
            <td><%= trip.price %></td>
            <td><%= trip.number_person %></td>
            <td><%= trip.duration %></td>
            <td><%= trip.departure.time %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>
<%= button_to "Delete", "/companies/#{@company.id}", method: :delete %>
<%= button_to "Edit", "/companies/#{@company.id}/edit", method: :get %>
<div>
  <input type="hidden" name="company_id" value="<%= @company.id %>">
</div>

